<h3  class="text-center">Cart</h3>
<h3> Total price:{{totalprice}}</h3>

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">title</th>
      <th scope="col">image</th>
      <th scope="col">price</th>
      <th scope="col">category</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of items">
      <th >{{item.title | lowercase }}</th>
      <td> <img [src]="item.image" class="img-fluid rounded-start" alt="..."></td>
      <td>{{item.price }}</td>
      <td>{{item.category }}</td>
    </tr>
    
  </tbody>
</table> -->


<div class="cart-item" *ngFor="let item of items" >
   
    <div class="card mb-3" style="max-width: 100%px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="item.image" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{item.title | lowercase }}</h5>
             
              
             
              
              <p> Price : {{ item.price |currency:'EGP'}}</p>
               <div class="d-flex">
                <span> Quantity </span>&nbsp;
                <input type="number" [(ngModel)]="item.num" min="0" />
              
                
              </div> 
              <br>
              <a class="btn " (click)="clearCart(item)">Delete</a> &nbsp;
            </div>
          </div>
        </div>
        <div class="card-footer">
            <small >{{ item.category }}</small>
          </div>
      </div>
     
</div>
<a class="btn " (click)="clearAllCart()">Delete All In The Cart</a> 