<nav class="navbar ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">Product</a>
        
    <a routerLink="card" style="text-decoration: none; color: #926239;"> <i class="fa-solid fa-cart-shopping"></i>{{counter}}</a>    
      <form class="d-flex" role="search">
       <a routerLink="login" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" class="btn " type="submit">login</a>
          
        <a routerLink="Register" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" class="btn  offset-1" type="submit">rigster</a>
      </form>
        
     
    </div>
  </nav>
